<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application>
        <receiver
            android:name=".DibayCallDebugCommandReceiver"
            android:enabled="true"
            android:exported="true">
            <intent-filter>
                <action android:name="com.dibay.DEBUG_INCOMING_CALL" />
                <action android:name="com.dibay.DEBUG_CALL_CANCELED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
